<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="css/home.css" />    
  <title>全国学力・学習状況調査　算数テスト検索</title>
</head>
<body>
  <header>
    <div class="boxContainer">
      <div class="box1">
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem">
            <a itemprop="item">
                <span itemprop="name">ホーム</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>
        </ol>
      </div>
      <div class="box2"><a class="intro" href="intro">はじめての方へ</a></div>
    </div>
  </header>
<h2>全国学力・学習状況調査　算数テスト検索</h2>

<a class="btn btn-border" href="index"><span>検索へ！</span></a>
</body>
</html>
