<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="css/intro.css" />    
  <title>全国学力・学習状況調査　算数テスト検索</title>
</head>
<body>
  <header>
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="./">
            <span itemprop="name">ホーム</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">紹介</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </header>
<h2>全国学力・学習状況調査　算数テスト検索とは</h2>
<div class="radius2">
  <p>本システムは、日本全国の小中学校の最高学年全員を対象として、平成１９年度から１６年間にわたり、学力・学習状況の調査を目的として毎年実施されてきた「全国学力・学習状況調査」の算数テスト問題を対象としたWEB検索システムです。</p>
  <p>本システムはこれらの検索機能を提供し、効率的に算数テストの閲覧ができるようにすることで指導の向上と改善に資することを目的としたWEBサービスです。</p>
  <p>検索機能には、キーワード検索を始めとし、年度検索、A/B検索、正答率検索、学年検索、領域検索、解答形式検索など様々な検索機能を有しており、また、検索結果から各問題の詳細についても閲覧することができます。</p>
  <p>まずは、ホーム画面の「検索へ！」ボタンから検索画面を閲覧してみてください。</p>
</div>
<section><a class="btn_10" href="./"><span>戻る</span></a></section>
</body>
</html>
